body {
  margin: 0;
  font-family: 'Segoe UI';
}

nav {
  background-color: #005f73;
  padding: 2%;
  text-align: center;
}

nav a {
  color: white;
  margin: 1%;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(218, 218, 218);
}

.atas {
  background-color: #94d2bd;
  padding: 3em ;
  text-align: center;
  color: #003846;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.foto {
  width: 200px;
  border-radius: 17px;
}

.bio {
  max-width: 600px;
}


.sosmed {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.sosmed a {
  padding: 0.8em 1.5em;
  background: linear-gradient(#0a9396, #005f73);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 13px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.612);
}

.sosmed a:hover {
  transform: scale(1.05);
  background: linear-gradient(#005f73, #0a9396);
}

